body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #20a50c, #b3e807, #d7bf0e, #a0e303, #0de197, #05e5d6, #ffff00);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

h1 {
  font-size: 7rem;
  background: linear-gradient(135deg, #20a50c, #b3e807, #d7bf0e, #a0e303, #0de197, #05e5d6, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.divider {

    background: linear-gradient(135deg, #91a50c, #b3e807, #d7bf0e, #a0e303, #0de197, #05e5d6, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(134, 42, 42, 0.5);
  
  }

  span {
    margin-top: 10px;
    margin-bottom: 40px;
  }


/* Animation for the gradient background */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
form {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-content: center;

}
input {
  color: white;
}


/* Styling for the food list container */
.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Styling for each food item */
.food-item {
  width: 350px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Styling for the food item image */
.food-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Styling for the food item content */
.food-item-content {
  padding: 20px;
}

.title {

}

/* Styling for the food item title */
.food-item-title {
  color : rgb(233, 255, 109);
  text-shadow: 1px 1px 0px  rgb(0, 255, 217), 1px 1px 1px rgb(79, 242, 217);
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styling for the food item description */
.food-item-description {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color : rgb(121, 133, 57);
}

/* Styling for the food item actions */
.food-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Styling for the food item button */
.food-item-button {
  background-color: #ff8484;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(240, 251, 176);
  border: none;
  border-radius: 5px;
  font-size: 19px;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

/* Styling for the food item button hover effect */
.food-item-button:hover {
  background-color: #ff4d4d;
}

/* Styling for the food item button active effect */
.food-item-button:active {
  transform: scale(0.95);
}

footer { 
  color: rgb(246, 255, 0);
  padding: 20px 20px 20px;
}

/* classNames:
- food-list
- food-item
- food-item img
- food-item-content
- food-item-title
- food-item-description
- food-item-actions
- food-item-button
*/
